<%- include('../partials/header') %>

<div class="container mt-4">
<h3>Edit Pelanggan</h3>

<% if (error) { %>
<div class="alert alert-danger"><%= error %></div>
<% } %>

<form method="POST" action="/pelanggan/update/<%= data.id %>">
<input name="nama" value="<%= data.nama %>" class="form-control mb-2">
<input name="no_hp" value="<%= data.no_hp %>" class="form-control mb-2">
<textarea name="alamat" class="form-control mb-2"><%= data.alamat %></textarea>

<button class="btn btn-primary">Update</button>
</form>
</div>

<%- include('../partials/footer') %>