<h3><%= pelanggan ? 'Edit Pelanggan' : 'Tambah Pelanggan' %></h3>
<form method="POST" action="<%= pelanggan ? '/pelanggan/edit/' + pelanggan.id : '/pelanggan/tambah' %>">
  <div class="mb-3">
    <label>Nama</label>
    <input type="text" name="nama" class="form-control" value="<%= pelanggan ? pelanggan.nama : '' %>" required>
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" class="form-control" value="<%= pelanggan ? pelanggan.email : '' %>">
  </div>
  <div class="mb-3">
    <label>No HP</label>
    <input type="text" name="no_hp" class="form-control" value="<%= pelanggan ? pelanggan.no_hp : '' %>">
  </div>
  <div class="mb-3">
    <label>Alamat</label>
    <textarea name="alamat" class="form-control"><%= pelanggan ? pelanggan.alamat : '' %></textarea>
  </div>
  <button type="submit" class="btn btn-success">Simpan</button>
  <a href="/pelanggan" class="btn btn-secondary">Kembali</a>
</form>
